# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Node
node_modules/
dist/
build/

# Android
*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/caches/resolve.modules.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/checkstyle-idea.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Database
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db
